* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Times New Roman, serif;
  font-size: 1.05em;
  //background-color: coral;
  background: #ECE9E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.header{
	background-color: deepskyblue;
  padding: 1px;
  text-align: center;
}

.title {
  font-size: 150%;
  font-weight: bold;
  font-family: Impact, fantasy;
  letter-spacing: 2px;
  line-height: 0.8;
}

.navbar {
	overflow: hidden;
  background-color: #333;
  font-family: Cambria;
}

.navbar a {
	float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: relative;
  z-index: 1;
  color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown:hover .dropdown-content {
  display: inline-grid;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.stickyNav
{
  position: fixed;
  top: 0;
  width: 100%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
  height: auto;
}

.leftcol {
	float: left;
	width: 10%;
	text-align: center;
}

.main {
	float: left;
	width: 80%;
  min-height: 600px;
  box-shadow: 0 9px 18px rgba(0,0,0,1);
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  //Gradient 0
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  background-color: #F0F8FF;
  
  //Gradient 1
  //background: #355C7D;  /* fallback for old browsers */
  //background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);  /* Chrome 10-25, Safari 5.1-6 */
  //background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  //Gradient 2
  //background: #c94b4b;  /* fallback for old browsers */
  //background: -webkit-linear-gradient(to right, #4b134f, #c94b4b);  /* Chrome 10-25, Safari 5.1-6 */
  //background: linear-gradient(to right, #4b134f, #c94b4b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 
  //background: #6D6027;  /* fallback for old browsers */
  //background: -webkit-linear-gradient(to right, #D3CBB8, #6D6027);  /* Chrome 10-25, Safari 5.1-6 */
  //background: linear-gradient(to right, #D3CBB8, #6D6027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  //background: #0cebeb;  /* fallback for old browsers */
  //background: -webkit-linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb);  /* Chrome 10-25, Safari 5.1-6 */
  //background: linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.mainTitle
{
  text-align: center;
  width: 94%;
  margin-left: 3%;
  margin-right: 3%;
  font-family: Cambria;
}

.aboutus
{
  font-family: Cambria;
  line-height: 2;
}
.rightcol {
	float: left;
	width: 10%;
	text-align: center;
}

@media screen and (max-width:600px) {
  .leftcol, .main, .rightcol {
    width: 100%;
  }
}